<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PLC
    MSG_ID="0098_LN03_20201028070359_0015" MSG_DT="2020-10-27T18:58:47Z" CISNUM="1234567" MODCOD="123" SEQNUM="12345" LB__ID="1234" LINCOD="03" PRGNUM="1111" LINDES="Descrizione X" SUBGROUP_DESCRIPTION="Descrizione Y">
  </PLC>
</configuration>